<div class="container" style="padding-left: 0; padding-right: 0;">
  <header class="navbar navbar-light navbar-fixed-top navbar-expand-md">

    <a class="navbar-brand" href="#/">ng-units</a>

    <div class="" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hansmaad/ng-units">Getting Started</a>
        </li>
      </ul>
    </div>
  </header>
</div>

<router-outlet></router-outlet>

<footer class="mainfooter">
  <div class="container">
  </div>
</footer>