.mainhead {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #efefef;

    background-color: #0143a3;
    background: linear-gradient(135deg,#0143a3,#0273d4);
}