.mainhead {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    color: #efefef;

    background-color: #0e6157;
    background: linear-gradient(135deg, #0e6157, #2a6156);

    .btn-outline-primary {
        color: #fff;
        border-color: #fff;
        &:hover {
            background:#fff;
            color:#0e6157;
        }
    }
    .title1 {
        font-size: 2rem;
    }
}