<p>
  <em>ng-units</em> is a lightweight and flexible Angular 5 component library for applications
  that need to handle physical units of measurements. You'll keep your model values in
  a single consistent set of base units, while <em>ng-units</em> takes care of the unit conversion
  for in- and output of values.
</p>

<form>
  <div class="row mt-5">
    <div class="col-sm">
        <div class="form-group">
          <label for="value-raw">Your raw model value</label>
          <input id="value-raw" name="valueRaw" class="form-control" type="number" [(ngModel)]="value">
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group" *ngIf="quantity">
          <label for="select-unit">Select the unit for {{ quantity.name }}</label>
          <select class="form-control" id="select-unit" [ngUnitSelect]="quantity" name="unit">
          </select>
        </div>
    </div>
    <div class="col-sm">
        <div class="form-group"  *ngIf="quantity">
          <label for="value-length">The converted value in {{quantity.unit.symbol}}</label>
          <input id="value-length" name="valueLength" class="form-control" type="number" 
            [(ngModel)]="value" [ngQuantity]="quantity">
        </div>
    </div>
  </div>
  <div class="text-center mt-4">
      <div id="pipe-test-1" class="display-4">{{ value | ngQuantity:quantity:true }}</div>
  </div>
</form>
